# coding: utf-8

# #####
#
# Settings.cfg - A TYPO3 Documentation Project's Configuration File
#
# About Syntax:
#   See https://docs.python.org/2/library/configparser.html
#
# Put comments in separate lines!
#
# #####


# Attention:
#    LEAVE RIGHT SIDE EMPTY for a 'false' value like:
#       example_of_false_value =


[general]

; endless list of all of the general simple settings
; you can use in 'conf.py'

project     = TCA Reference
version     = 6.0
release     = 6.0
t3author    = Documentation Team
copyright   = Copyright since 2000 by the TYPO3 Documentation Team

description = Complete reference to
   the Table Configuration Array ($TCA)

[html_theme_options]

; for theme t3SphinxThemeRtd

github_branch        = 6.0
github_commit_hash   =
github_repository    = TYPO3-Documentation/TYPO3CMS-Reference-TCA
github_revision_msg  =
github_sphinx_locale =
project_contact      = mailto:documentation@typo3.org
project_discussions  =
project_home         =
project_issues       = https://github.com/TYPO3-Documentation/TYPO3CMS-Reference-TCA/issues
project_repository   = https://github.com/TYPO3-Documentation/TYPO3CMS-Reference-TCA
use_opensearch       = https://docs.typo3.org/typo3cms/TCAReference/6.0


[intersphinx_mapping]

; in this manual we actually use:

t3api      = https://docs.typo3.org/typo3cms/CoreApiReference
t3cmsapi   = https://typo3.org/api/typo3cms
t3fal      = https://docs.typo3.org/typo3cms/FileAbstractionLayerReference
t3inside   = https://docs.typo3.org/typo3cms/InsideTypo3Reference
t3tsconfig = https://docs.typo3.org/typo3cms/TSconfigReference


# For a reference about this file see:
# https://github.com/marble/typo3-docs-typo3-org-resources/blob/master/userroot/scripts/bin/conf-2015-10.Reference.Settings.cfg

